<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">승인상세</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">accept Detail</p>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-lg-8">
          <div class="d-flex flex-column text-left mb-3">
            <p class="section-title pr-5">
              <span class="pr-2">Blog Detail Page</span>
            </p>
            <h1 class="mb-3">---반 일정</h1>
            <div class="d-flex">
              <p class="mr-3"><i class="fa fa-user text-primary"></i> 김혁태</p>
            </div>
          </div>
          <div class="mb-5">
            
            <p>
              Sadipscing labore amet rebum est et justo gubergren. Et eirmod
              ipsum sit diam ut magna lorem. Nonumy vero labore lorem sanctus
              rebum et lorem magna kasd, stet amet magna accusam consetetur
              eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et.
              Ipsum sit gubergren dolores et, consetetur justo invidunt at et
              aliquyam ut et vero clita. Diam sea sea no sed dolores diam
              nonumy, gubergren sit stet no diam kasd vero.
            </p>
            <!-- 첫번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>1월</a>
            </p>
            <p>1월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            <!-- 두번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>2월</a>
            </p>
            <p>2월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            <!-- 세번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>3월 </a>
            </p>
            <p>3월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            <!-- 두번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>4웖</a>
            </p>
            <p>4월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            <!-- 두번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>5</a>
            </p>
            <p>5월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            <!-- 두번째 달 -->
            <p>
              <i class="fa fa-angle-right mr-2"></i>6</a>
            </p>
            <p>6월에는 ㅁ이거하고 놉니당, 준비물:ㅇㅁㅇㅁㅇ</p>
            
          </div>

          <button type="button" class="btn btn-secondary" style="background-color: #17a2b8;; color: #fff;">승인
          </button>
      </div>
    </div>
    <!-- Detail End -->

    </div>
</th:block>
</html>