<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div
                class="d-flex flex-column align-items-center justify-content-center"
                style="min-height: 200px">
            <h3 class="display-3 font-weight-bold text-white">일정표 확인</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Board_detailed_Calendar</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">내용 확인</p>
            </div>
        </div>
    </div>


    <!-- Header End -->
    <section>

    <!-- board list area -->

        <div id="calendar-list">
            <div class="container">


                <div id="calendar"></div>
                <ul id="board-list">
                    <li th:each="board : ${boards}" th:text="${board.title}"></li>
                </ul>

            </div>
        </div>

</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
            // FullCalendar 초기화
            $('#calendar').fullCalendar({
                // 캘린더 설정
            });
        });
    </script>
</th:block>
</html>