<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
</head>
<body>
<th:block th:if="users != null">
    <td th:text="${users.id}"></td>
    <td th:text="${users.email}"></td>
    <td th:text="${users.pwd}"></td>
    <td th:text="${users.addr}"></td>
    <td th:text="${users.phNum}"></td>
    <td th:text="${users.center}"></td>
    <td th:text="${users.class_}"></td>
    <td th:text="${users.id}"></td>
</th:block>


<button type="button" onclick="location.href='update'">수정하기</button>

<form action="/logout" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit">로그아웃</button>
</form>

<form action="/delete" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit">탈퇴하기</button>
</form>
</body>
</html>