<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h3 class="display-3 font-weight-bold text-white">이미지 업로드</h3>
            <div class="d-inline-flex text-white">
                <!--                <p class="m-0"><a class="text-white" href="">Board_detailed_Calendar</a></p>-->
                <!--                <p class="m-0 px-2">/</p>-->
                <!--                <p class="m-0">내용 확인</p>-->
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container py-5 text-center">
        <p>어린이 이름이 들어간 파일(.jpg)을 업로드해주세요!</p>
        <form method="post" action="/records/imageUpload" enctype="multipart/form-data">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="images" name="images" multiple="multiple" accept=".jpg">
                <label class="custom-file-label" for="images">파일을 선택하세요</label>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">업로드</button>
        </form>
    </div>
</th:block>

<!-- Bootstrap JS (optional) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
