<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
      <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
          <h4 class="text-white mb-4 mt-5 mt-lg-0">Kids Learning Center</h4>
          <h1 class="display-3 font-weight-bold text-white">
            New Approach to Kids Education
          </h1>
          <p class="text-white mb-4">
            Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
            sit. Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed
            ipsum at ipsum nonumy amet. Clita lorem dolore sed stet et est justo
            dolore.
          </p>
          <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <img class="img-fluid mt-5" src="img/header.png" alt="" />
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
      <div class="container pb-3">
        <div class="row">
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px">
              <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
              <div class="pl-4">
                <h4>누리과정 요소</h4>
                <p class="m-0">
                  3-5세 유아를 위한
                  국가수준의 공통 교육과정
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>신체운동·건강</h4>
                <p class="m-0">
                  실내외에서 신체활동을 즐기고, 건강하고 안전한 생활을 한다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>예술경험</h4>
                <p class="m-0">
                  아름다움과 예술에 관심을 가지고 창의적 표현을 즐긴다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px">
              <i
                class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>의사소통</h4>
                <p class="m-0">
                  일상생활에 필요한 의사소통 능력과 상상력을 기른다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>사회관계</h4>
                <p class="m-0">
                  자신을 존중하고 더불어 생활하는 태도를 가진다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>자연탐구</h4>
                <p class="m-0">
                  탐구하는 과정을 즐기고, 자연과 더불어 살아가는 태도를 가진다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facilities Start -->


    <!-- Class Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">Popular Classes</span>
          </p>
          <h1 class="mb-4">Classes for Your Kids</h1>
        </div>
        <div class="row justify-content-center"> <!-- 요소를 가운데 정렬 -->
          <div class="col-lg-4 mb-5">
            <div class="card border-0 bg-light shadow-sm pb-2">
              <img class="card-img-top mb-2" src="img/class-1.jpg" alt="" />
              <div class="card-body text-center">
                <h4 class="card-title">Drawing Class</h4>
                <p class="card-text">
                  Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                  ipsum duo et no et, ipsum ipsum erat duo amet clita duo
                </p>
              </div>
              <div class="card-footer bg-transparent py-4 px-5">
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Age of Kids</strong>
                  </div>
                  <div class="col-6 py-1">3 - 6 Years</div>
                </div>
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Total Seats</strong>
                  </div>
                  <div class="col-6 py-1">40 Seats</div>
                </div>
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Class Time</strong>
                  </div>
                  <div class="col-6 py-1">08:00 - 10:00</div>
                </div>
                <div class="row">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Tuition Fee</strong>
                  </div>
                  <div class="col-6 py-1">$290 / Month</div>
                </div>
              </div>
              <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card border-0 bg-light shadow-sm pb-2">
              <img class="card-img-top mb-2" src="img/class-2.jpg" alt="" />
              <div class="card-body text-center">
                <h4 class="card-title">Language Learning</h4>
                <p class="card-text">
                  Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                  ipsum duo et no et, ipsum ipsum erat duo amet clita duo
                </p>
              </div>
              <div class="card-footer bg-transparent py-4 px-5">
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Age of Kids</strong>
                  </div>
                  <div class="col-6 py-1">3 - 6 Years</div>
                </div>
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Total Seats</strong>
                  </div>
                  <div class="col-6 py-1">40 Seats</div>
                </div>
                <div class="row border-bottom">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Class Time</strong>
                  </div>
                  <div class="col-6 py-1">08:00 - 10:00</div>
                </div>
                <div class="row">
                  <div class="col-6 py-1 text-right border-right">
                    <strong>Tuition Fee</strong>
                  </div>
                  <div class="col-6 py-1">$290 / Month</div>
                </div>
              </div>
              <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facilities Start -->

    <!-- Class End -->


  <!-- Testimonial Start -->
  <div class="container-fluid py-5">
    <div class="container p-0">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Testimonial</span>
        </p>
        <h1 class="mb-4">What Parents Say!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel">
        <div class="testimonial-item px-3">
          <div class="bg-light shadow-sm rounded mb-4 p-4">
            <h3 class="fas fa-quote-left text-primary mr-3"></h3>
            Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            eirmod clita lorem. Dolor tempor ipsum clita
          </div>
          <div class="d-flex align-items-center">
            <img
                    class="rounded-circle"
                    src="img/testimonial-1.jpg"
                    style="width: 70px; height: 70px"
                    alt="Image"
            />
            <div class="pl-3">
              <h5>Parent Name</h5>
              <i>Profession</i>
            </div>
          </div>
        </div>
        <div class="testimonial-item px-3">
          <div class="bg-light shadow-sm rounded mb-4 p-4">
            <h3 class="fas fa-quote-left text-primary mr-3"></h3>
            Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            eirmod clita lorem. Dolor tempor ipsum clita
          </div>
          <div class="d-flex align-items-center">
            <img class="rounded-circle"
                 src="img/testimonial-2.jpg"
                 style="width: 70px; height: 70px"
                 alt="Image"/>
            <div class="pl-3">
              <h5>Parent Name</h5>
              <i>Profession</i>
            </div>
          </div>
        </div>
        <div class="testimonial-item px-3">
          <div class="bg-light shadow-sm rounded mb-4 p-4">
            <h3 class="fas fa-quote-left text-primary mr-3"></h3>
            Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            eirmod clita lorem. Dolor tempor ipsum clita
          </div>
          <div class="d-flex align-items-center">
            <img class="rounded-circle"
                 src="img/testimonial-3.jpg"
                 style="width: 70px; height: 70px"
                 alt="Image"/>
            <div class="pl-3">
              <h5>Parent Name</h5>
              <i>Profession</i>
            </div>
          </div>
        </div>
        <div class="testimonial-item px-3">
          <div class="bg-light shadow-sm rounded mb-4 p-4">
            <h3 class="fas fa-quote-left text-primary mr-3"></h3>
            Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            eirmod clita lorem. Dolor tempor ipsum clita
          </div>
          <div class="d-flex align-items-center">
            <img
                    class="rounded-circle"
                    src="img/testimonial-4.jpg"
                    style="width: 70px; height: 70px"
                    alt="Image"
            />
            <div class="pl-3">
              <h5>Parent Name</h5>
              <i>Profession</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->

</th:block>
</html>