<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div
                class="d-flex flex-column align-items-center justify-content-center"
                style="min-height: 200px">
            <h3 class="display-3 font-weight-bold text-white">마이 페이지</h3>
            <div class="d-inline-flex text-white">
                <!--                <p class="m-0"><a class="text-white" href="">Board_detailed_Calendar</a></p>-->
                <!--                <p class="m-0 px-2">/</p>-->
                <!--                <p class="m-0">내용 확인</p>-->
            </div>
        </div>
    </div>

    <!-- Header End -->
    <div class="container-fluid pt-5">
        <div class="container pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 pb-1">
<!--                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">-->
                        <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <a th:href="@{/mypage/myActList}">
                                <button class="custom-btn btn-4"><span><h4>내 일정 계획 보기 </h4></span></button></a>
<!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
<!--                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">-->
                        <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <a th:href="@{/records/list}">
                                <button class="custom-btn btn-4"><span><h4>소속 어린이 사진 보기</h4></span></button></a>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
 <style>
/* 4 */
.btn-4 {
  background-color: wheat;
  width: 280px;
  height: 50px;
  text-align: center;
}

 </style>


</th:block>
</html>