<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div
                class="d-flex flex-column align-items-center justify-content-center"
                style="min-height: 400px"
        >
            <h3 class="display-3 font-weight-bold text-white">Our gong ji</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Our Blog</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!--        <div class="container" layout:fragment="content">-->
    <div class="page-header">
        <h1>Board</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-- 내용이 있을 경우 여기에 배치 -->
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-right">
            <a href="/board" class="btn btn-primary" style="width: 100px;">등록</a>
        </div>
    </div>
    <div class="container-fluid">
        <br>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr class="warning">
                        <th class="col-sm-1">No</th>
                        <th class="col-sm-3">제목</th>
                        <th class="col-sm-4">내용</th>
                        <th class="col-sm-2">작성자</th>
                        <th class="col-sm-2">작성 날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boardList}">
                        <td th:text="${board.idx}">DA</td>
                        <td>
                            <a th:href="'/board?idx='+${board.idx}" th:text="${board.title}"></a>
                        </td>
                        <td th:text="${board.content}"><!-- 내용 -->소주제</td>
                        <td th:text="${board.title}"><!--작성자 --></td>

                        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:dd')}">
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination -->
            <!-- <nav class="navbar" aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination"
                    th:with="startNumber=${T(Math).floor(boardList.number/10)} * 10 + 1,
                            endNumber=(${boardList.totalPages} > ${startNumber} + 9) ?
                                        ${startNumber} + 9 : ${boardList.totalPages}">

                    <li th:style="${boardList.first} ? 'display:none'">
                        <a href="/board/list?page=1">&laquo;</a>
                    </li>
                    <li th:style="${boardList.first} ? 'display:none'">
                        <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(startNumber, endNumber)}"
                        th:class="(${page} == ${boardList.number} + 1) ? 'active'">
                        <a th:href="@{/board/list(page=${page})}" th:text="${page}">
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li th:style="${boardList.last} ? 'display:none'">
                        <a th:href="@{/board/list(page=${boardList.number} + 2)}">&rsaquo;</a>
                    </li>
                    <li th:style="${boardList.last} ? 'display:none'">
                        <a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
</th:block>
</html>