<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">일정 상세</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Blog Detail</p>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-lg-8">
          <div class="d-flex flex-column text-left mb-3">
            <p class="section-title pr-5">
              <span class="pr-2">Blog Detail Page</span>
            </p>
            <h1 class="mb-3">일정상세</h1>
            <div class="d-flex">
              <p class="mr-3"><i class="fa fa-user text-primary"></i> 김혁태</p>
            
              <p class="mr-3"><i class="fa fa-comments text-primary"></i> 15</p>
            </div>
          </div>
          <div class="mb-5">
            <img
              class="img-fluid rounded w-100 mb-4"
              src="img/detail.jpg"
              alt="Image"
            />
            <p>
              Sadipscing labore amet rebum est et justo gubergren. Et eirmod
              ipsum sit diam ut magna lorem. Nonumy vero labore lorem sanctus
              rebum et lorem magna kasd, stet amet magna accusam consetetur
              eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et.
              Ipsum sit gubergren dolores et, consetetur justo invidunt at et
              aliquyam ut et vero clita. Diam sea sea no sed dolores diam
              nonumy, gubergren sit stet no diam kasd vero.
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>1.놀기</a>
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>2.신나게놀기</a>
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>3.미친듯이놀기</a>
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>4.밥먹기</a>
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>5.낮잠</a>
            </p>
            <p>
              <i class="fa fa-angle-right mr-2"></i>6.귀가</a>
            </p>
          </div>
      </div>
    </div>
    <!-- Detail End -->

    </div>
</th:block>
</html>