<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <div class="container">
        <div class="profile">
            <div class="top">
                <span>떡잎 어린이집</span>
                <button type="button" class="btn btn-primary">개인정보 수정</button>
            </div>
            <div class="detail">
                <div class="image-and-table">
                    <img class="avata" src="https://img1.daumcdn.net/thumb/R300x300/?fname=http%3A%2F%2Ft1.daumcdn.net%2Ffriends%2Fprod%2Fproduct%2FFRPBRYBCU0001_A_000.jpg">
                    <table>
                    <tr>
                        <th>담당 선생님</th>
                        <td th:text="${member.name}"></td>
                    </tr>
                    <tr>
                        <th>회사</th>
                        <td>카카오</td>
                    </tr>
                    <tr>
                        <th>소속</th>
                        <td>카카오파머 TF</td>
                    </tr>
                    <tr>
                        <th>생일</th>
                        <td>3월 22일</td>
                    </tr>
                    <tr>
                        <th>자리위치</th>
                        <td>제주</td>
                    </tr>
                    <tr>
                        <th>자기소개</th>
                        <td>기초웹개발론 강의를 맡고 있습니다</td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>010-4661-3397 <a href="#" class="modify_cell">수정하기</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<br><br><br>

<form class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-md-2 text-center">
            <label for="validationTooltip01" class="form-label">Keyword 1</label>
            <input class="form-control" type="text" id="validationTooltip01" placeholder="Keyword" value="" required>
            <div class="valid-tooltip">Looks good!</div>
        </div>
        <div class="col-md-2 text-center">
            <label for="validationTooltip02" class="form-label">Keyword 2</label>
            <input class="form-control" type="text" id="validationTooltip02" placeholder="Keyword" value="" required>
            <div class="valid-tooltip">Looks good!</div>
        </div>
        <div class="col-md-2 text-center">
            <label for="validationTooltipUsername" class="form-label">Keyword 3</label>
            <input class="form-control" type="text" id="validationTooltipUsername" placeholder="Keyword" required>
        </div>
    </div>
</form>

    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" style="margin-right: 0.1cm;">월간일정</button>
                <button type="submit" class="btn btn-primary">상세일정</button>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">월간 일정</h4>
                        <p class="card-text text-muted">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#scrollableModal1" style="background-color: #17a2b8;; color: #fff;">수정
                </button>
                <!-- Scrollable 모달 1 -->
                <div class="modal fade" id="scrollableModal1" tabindex="-1" aria-labelledby="scrollableModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="scrollableModalLabel1">스크롤 가능하며 수정 가능한 모달 1</h5>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                                        style="background-color: #f0f2f3;; color: #0e0e0e;">x
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- 수정 가능한 내용 -->
                                <textarea id="editableContent1" class="form-control" rows="5"
                                          placeholder="내용을 수정하세요."></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="saveChangesButton2"
                                        style="background-color: #17a2b8;; color: #fff;">저장 변경
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">상세일정</h4>
                        <p class="card-text text-muted">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#scrollableModal2" style="background-color: #17a2b8;; color: #fff;">수정
                </button>
                <button type="button" class="btn btn-secondary" style="background-color: #17a2b8;; color: #fff;">승인
                </button>
                <!-- Scrollable 모달 2 -->
                <div class="modal fade" id="scrollableModal2" tabindex="-1" aria-labelledby="scrollableModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="scrollableModalLabel2">스크롤 가능하며 수정 가능한 모달 2</h5>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                                        style="background-color: #f0f2f3;; color: #0e0e0e;">x
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- 수정 가능한 내용 -->
                                <textarea id="editableContent2" class="form-control" rows="5"
                                          placeholder="내용을 수정하세요."></textarea>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary" id="saveChangesButton2"
                                        style="background-color: #17a2b8;; color: #fff;">저장 변경
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const toggleButtons = document.querySelectorAll(".toggleButton");
        toggleButtons.forEach((button) => {
            button.addEventListener("click", function() {
                const targetModalId = button.getAttribute("data-bs-target").replace("#", "");
                const modal = new bootstrap.Modal(document.getElementById(targetModalId));
                modal.show();
              });
          });
      });
    </script>
</form>

    </div>
</th:block>
</html>