<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


    <br><br><br>

    <form class="needs-validation" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <label for="validationTooltip00" class="form-label">수업일수</label>
                <input class="form-control" type="text" id="validationTooltip00" placeholder="Keyword" value="" required>
                <div class="valid-tooltip"></div>
            </div>
        </div>
    </form>

    <form class="needs-validation" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <label for="validationTooltip01" class="form-label">Keyword 1</label>
                <input class="form-control" type="text" id="validationTooltip01" placeholder="Keyword" value="" required>
                <div class="valid-tooltip"></div>
            </div>
            <div class="col-md-2 text-center">
                <label for="validationTooltip02" class="form-label">Keyword 2</label>
                <input class="form-control" type="text" id="validationTooltip02" placeholder="Keyword" value="" required>
                <div class="valid-tooltip"> </div>
            </div>
            <div class="col-md-2 text-center">
                <label for="validationTooltipUsername" class="form-label">Keyword 3</label>
                <input class="form-control" type="text" id="validationTooltipUsername" placeholder="Keyword" required>
            </div>
        </div>
    </form>

    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" style="margin-left: 10cm;">교육활동 목록 생성</button>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">월간 일정</h4>
                        <p class="card-text text-muted">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#scrollableModal1" style="background-color: #17a2b8;; color: #fff;">수정
                            </button>
                        </div>
                    </div>
                <br>
                <!-- Scrollable 모달 1 -->
                <div class="modal fade" id="scrollableModal1" tabindex="-1"
                     aria-labelledby="scrollableModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="scrollableModalLabel1">교육 활동 내용 상세 확인</h5>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                        aria-label="Close"
                                        style="width: 60px; background-color: #f0f2f3; color: #0e0e0e;">
                                    x
                                </button>
                            </div>
                            <!--<div class="modal-body">-->
                            <!--&lt;!&ndash; 수정 가능한 내용 &ndash;&gt;-->
                            <!--<textarea id="editableContent1" class="form-control" rows="5"-->
                            <!--placeholder="내용을 수정하세요."></textarea>-->
                            <!--</div>-->
                            <div class="modal-body">
                                <!-- 수정 가능한 내용 -->
                                <div class="form-group">
                                    <label for="editableTitle1">주제 활동명</label>
                                    <input id="editableTitle1" class="form-control" type="text"
                                           placeholder="주제 활동명">
                                </div>

                                <div class="form-group">
                                    <label for="editableArea1">누리과정 영역</label>
                                    <input id="editableArea1" class="form-control" type="text"
                                           placeholder="누리과정 영역">
                                </div>

                                <div class="form-group">
                                    <label for="editableTime1">교육활동 소요 시간</label>
                                    <input id="editableTime1" class="form-control" type="text"
                                           placeholder="교육활동 소요 시간">
                                </div>

                                <div class="form-group">
                                    <label for="editableGoal1">목표</label>
                                    <textarea id="editableGoal1" class="form-control" rows="3"
                                              placeholder="목표"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="editableContent1">활동 내용</label>
                                    <textarea id="editableContent1" class="form-control" rows="5"
                                              placeholder="활동 내용"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="editableMaterials1">준비물</label>
                                    <textarea id="editableMaterials1" class="form-control" rows="3"
                                              placeholder="준비물"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="saveChangesButton1"
                                        style="background-color: #17a2b8;; color: #fff;">저장 변경
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">상세일정</h4>
                        <p class="card-text text-muted">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#scrollableModal2" style="background-color: #17a2b8;; color: #fff; align-self-end">수정
                </button>
                <button type="button" class="btn btn-secondary" style="background-color: #17a2b8;; color: #fff;">승인
                </button>
                <!-- Scrollable 모달 2 -->
                <div class="modal fade" id="scrollableModal2" tabindex="-1"
                     aria-labelledby="scrollableModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="scrollableModalLabel2">교육 활동 내용 상세 확인</h5>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                        aria-label="Close"
                                        style="width: 60px; background-color: #f0f2f3; color: #0e0e0e;">
                                    x
                                </button>
                            </div>
                            <!--<div class="modal-body">-->
                            <!--&lt;!&ndash; 수정 가능한 내용 &ndash;&gt;-->
                            <!--<textarea id="editableContent1" class="form-control" rows="5"-->
                            <!--placeholder="내용을 수정하세요."></textarea>-->
                            <!--</div>-->
                            <div class="modal-body">
                                <!-- 수정 가능한 내용 -->
                                <div class="form-group">
                                    <label for="editableTitle">주제 활동명</label>
                                    <input id="editableTitle" class="form-control" type="text"
                                           placeholder="주제 활동명">
                                </div>

                                <div class="form-group">
                                    <label for="editableArea">누리과정 영역</label>
                                    <input id="editableArea" class="form-control" type="text"
                                           placeholder="누리과정 영역">
                                </div>

                                <div class="form-group">
                                    <label for="editableTime">교육활동 소요 시간</label>
                                    <input id="editableTime" class="form-control" type="text"
                                           placeholder="교육활동 소요 시간">
                                </div>

                                <div class="form-group">
                                    <label for="editableGoal">목표</label>
                                    <textarea id="editableGoal" class="form-control" rows="3"
                                              placeholder="목표"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="editableContent">활동 내용</label>
                                    <textarea id="editableContent" class="form-control" rows="5"
                                              placeholder="활동 내용"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="editableMaterials">준비물</label>
                                    <textarea id="editableMaterials" class="form-control" rows="3"
                                              placeholder="준비물"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="saveChangesButton2"
                                        style="background-color: #17a2b8;; color: #fff;">저장 변경
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const toggleButtons = document.querySelectorAll(".toggleButton");
        toggleButtons.forEach((button) => {
            button.addEventListener("click", function() {
                const targetModalId = button.getAttribute("data-bs-target").replace("#", "");
                const modal = new bootstrap.Modal(document.getElementById(targetModalId));
                modal.show();
              });
          });
      });
    </script>
    </form>

    </div>
</th:block>
</html>