<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<!--    &lt;!&ndash; Registration Start &ndash;&gt;-->
<!--    <!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css"> <!-- 스타일 시트 파일을 연결하세요 -->
<!--</head>-->

  <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form">
                    <h2>Login</h2>
                    <form action="login.php" method="post">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>

                      <div class="form-group">
                          <label for="password">Password 확인</label>
                          <input type="password" id="password" name="password" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <a th:href="@{/signup}">Do you want signup?</a>
                      </div>
<!--                      <div class="form-group">-->
<!--                        <a href="forgot_password.html">Forgot your password?</a>-->
<!--                      </div>-->
                      <div class="d-flex justify-content-end"> <!-- 로그인 버튼을 오른쪽으로 이동 -->
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 background-image">

            </div> <!-- 오른쪽 배경 이미지를 추가 -->
        </div>
    </div>

    <!-- Registration End -->
</th:block>
</html>