<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">

  <!-- Header Start -->
  <div class="container-fluid bg-primary mb-5">
    <div
            class="d-flex flex-column align-items-center justify-content-center"
            style="min-height: 200px"
    >
      <h6 class="display-3 font-weight-bold text-white">일정 계획 수립</h6>
      <div class="d-inline-flex text-white">
        <p class="m-0"><a class="text-white" href="">일정계획 수립</a></p>
        <p class="m-0 px-2">/</p>
        <p class="m-0">Input</p>
      </div>
    </div>
  </div>
  <!-- Header End -->

<!--  모달안에 있던거 넣어주세요
      상세확인 버튼을 다운로드로 바꾸기
      스크롤 없애기 ; 그냥 쭉 보이도록
      -->



</th:block>
</html>