<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- Registration Start -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지작성</title>
    <link rel="stylesheet" href="styles.css"> <!-- 스타일 시트 파일을 연결하세요 -->
</head>


<body>


  <br>
  
  <form action="register.php" method="post">
    <!-- Text input -->
    <div class = "col-md-6">
      <label for="text-input" class="form-label">제목</label>
      <input class="form-control" type="text" id="title-input" value="">
   </div>

    <!-- Textarea -->
    <div class= "col-md-6">
      <label for="textarea-input" class="form-label">Textarea</label>
      <textarea class="form-control" id="textarea-input" rows="10"></textarea>
    </div>

    <div class="d-flex justify-content-end"> 
      <button type="submit" class="btn btn-primary">등록</button>
      <button type="submit" class="btn btn-primary">수정</button>
      <button type="submit" class="btn btn-primary">삭제</button>
    </div>
  </form>
</body>
</th:block>
</html>